.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.iconWrapper {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.themeToggle {
  position: fixed;
  top: 1rem;
  right: 4rem; /* Ajuste para dar espaço ao botão de idioma */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.light .themeToggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark .themeToggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.languageToggle {
  position: fixed;
  top: 1rem;
  right: 1rem; /* Alinhar próximo ao botão de tema */
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.light .languageToggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark .languageToggle:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
